<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


  </head>

  <body>
  	<% if (@search_term.nil?) %>
  	<header class="masthead">
      <div class="overlay">
        <div class="container">
          <h1 class="display-1 text-white">Wonderful Foods</h1>
          <h2 class="display-4 text-white">Unexpected Food Journeys</h2>
        </div>
      </div>
    </header>
      <br>
  		<div class="text-center"><%= render "form"%></div>
  		    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6 order-2">
            <div class="p-5">
              <img src="<%= asset_path("2.jpg")%>" class="img-fluid rounded-circle">
            </div>
          </div>
          <div class="col-md-6 order-1">
            <div class="p-5">
              <h2 class="display-4">For those about to eat...</h2>
              <p>“Pull up a chair. Take a taste. Come join us. Life is so endlessly delicious.” 
				― Ruth Reichl</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6">
            <div class="p-5">
              <img src="<%= asset_path("1.jpg")%>" class="img-fluid rounded-circle">
            </div>
          </div>
          <div class="col-md-6">
            <div class="p-5">
              <h2 class="display-4">We salute you!</h2>
              <p>“Let food be thy medicine and medicine be thy food.” 
				― Hippocrates</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6 order-2">
            <div class="p-5">
              <img src="<%= asset_path("3.jpg")%>" class="img-fluid rounded-circle">
            </div>
          </div>
          <div class="col-md-6 order-1">
            <div class="p-5">
              <h2 class="display-4">Let there be Food!</h2>
              <p>“This above all: to thine own self be true, 
					And it must follow, as the night the day, 
					Thou canst not then be false to any man.” 
					― William Shakespeare, Hamlet</p>
            </div>
          </div>
        </div>
      </div>
    </section>


  		
	<% else %>
  	
    <header class="masthead">
      <div class="overlay">
        <div class="container">
          <h1 class="display-1 text-white">One Page Wonder</h1>
          <h2 class="display-4 text-white">Unexpected Food Journeys</h2>
        </div>
      </div>
    </header>
      <br>
  <div class="text-center"><%= render "form"%></div>
    <h1>Searching for - <%= @search_term %></h1>
	  <% @randomrecipes.each do |course| %>

	    <section>
	      <div class="container">
	        <div class="row align-items-center">
	          <div class="col-md-6 order-2">
	            <div class="p-5">
	             <%= link_to(asset_path(course["image_url"], height: '300', width: '300',class: "img-fluid rounded-circle"), course["f2f_url"])%>
	            </div>
	          </div>
	          <div class="col-md-6 order-1">
	            <div class="p-5">
	              <h2 class="display-4"><%= link_to(course["title"], course["f2f_url"]) %></h2>
					<h5><%= "Rating #{course["social_rank"].to_i}/100" %></h5>
					<h4>Ingredients</h4>
					<h5><% @ingredients["ingredients"].each do |ingredient| %></h5>
					<h5><%= ingredient%></h5>
					<% end%>
					
					<%= form_with url: recipesave_path do|f|%>
	 
	          			<%= f.hidden_field :name, value: course["title"]%>
	          			<%= f.hidden_field :image, value: course["image_url"]%>

	          			<%= f.hidden_field :ingredient, value: @ingredients["ingredients"]%>
	      				<%= f.submit "Save"%>
	    			<% end %>

	    	 	
	            </div>
	          </div>
	        </div>
	      </div>
	    </section>
	   <% end %>
    <% end %>
<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; R-Eat 2017</p>
    <p class="m-0 text-center text-white">Powered By Food2Fork.com</p>
  </div>
  <!-- /.container -->
</footer>
</body>

</html>
