<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="Page description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">

<body>

<main class="" id="main-collapse">

<div class="hero-full-wrapper">
  <div class="grid">
  <div class="gutter-sizer"></div>
    <div class="grid-sizer"></div>
 <% @recipes.each do |recipe|%>  
    <div class="grid-item">
   	  <%= link_to(image_tag(recipe.image, height: '300', width: '300',class: "img-responsive img-fluid rounded-circle"))%>
        <div class="project-text-holder">
          <div class="project-text-inner">
          	<h3><%= recipe.date.to_date%></h3>
            <h3><%= recipe.name%></h3>
            <p><% ingredient = recipe.ingredient%></p>
	 		<p><% ingredient.each do |ing|%></p>
	 			<%= ing %>
	 		<% end %>
          </div>
        </div>
    </div>
  <% end %>

 <% @restaurants.each do |restuarant|%>
    <div class="grid-item">
 	  <%= link_to(image_tag(restuarant.image, height: '300', width: '300',class: "img-responsive img-fluid rounded-circle"))%>
        <div class="project-text-holder">
          <div class="project-text-inner">
          	<h3><%= restuarant.created_at.to_date%></h3>
            <h3><%=link_to restuarant.name, restuarant.link%></h3>
	 		<p><%= restuarant.address%></p>
	 		<p><%= restuarant.price%></p>
	 		<p><%= restuarant.category%></p>
          </div>
        </div>
    </div>
  <% end %>

</div>
</div>

 <script>
  document.addEventListener("DOMContentLoaded", function (event) {
     masonryBuild();
  });
</script>
</main>
<script>
document.addEventListener("DOMContentLoaded", function (event) {
  navbarToggleSidebar();
  navActivePage();
});
</script>
</body>
</html>