<h1>Hi</h1>
<%=render "form"%>
<% @restaurant.each do |business|%>
	<h3><%= link_to business["name"], business["url"]%></h3>
	<%= link_to(image_tag(business["image_url"], height: '300', width: '300'))%>
	<% business["categories"].each do |category|%>
	<h4><%= category["title"]%></h4>
	<% end %>
	<h5><%= "Rating #{business["rating"]}/5"%></h5>
	<h5><%= business["location"]["display_address"]%></h5>
	<h5><%= business["display_phone"]%></h5>
	<h5><%= business["price"]%></h5>

	<p> 
		<%= form_with url: restaurantssave_path do|f|%>
 		  <%= f.hidden_field :name, value: business["name"]%>
 		  <%= f.hidden_field :address, value:  business["location"]["display_address"]%>
 		  <%= f.hidden_field :price, value: business["price"]%>
          <% business["categories"].each do |category|%>
		  	<%= f.hidden_field :category, value: category["title"]%>
		  <% end %>
      	  <%= f.submit "Save"%>
      	 <% end %>      	 	
    </p>

	<% end %>